<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row" *ngIf="currentImageUrl">
        <div class="col-xs-12">
          <div class="form-group text-center img-responsive">
            <img [src]="currentImageUrl" alt="Current Route Image" style="max-width: 80%; max-height: 40vh; margin-bottom: 20px;">
          </div>
        </div>
      </div>
      <form [formGroup]="mapLocationForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!editMode" class="col-xs-12">
          <h2>Adding New Point</h2>
        </div>
        <div *ngIf="editMode" class="col-xs-12">
          <h2>Editing map location</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="mapLocationForm.invalid">Save
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="goBack()">Cancel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                formControlName="description"
                class="form-control"
                rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="image">Image</label>
              <input
                type="file"
                id="image"
                (change)="onFileSelected($event)"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="lat">Latitude</label>
              <input
                id="lat"
                formControlName="lat"
                class="form-control"
              readonly>
              <label for="lng">Longitude</label>
              <input
                id="lng"
                formControlName="lng"
                class="form-control"
                readonly>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 my-map-wrapper">
            <app-point-select-map></app-point-select-map>
          </div>
        </div>
        <form [formGroup]="mapLocationForm">
          <!-- Formularz do dodawania nowego audio -->
          <input type="file" (change)="onFileSelected($event)" accept=".mp3">
          <button type="button" (click)="uploadAudio()">Upload Audio</button>
        </form>

        <!-- Lista audio z przyciskami do usuwania -->
        <ul>
          <li *ngFor="let audio of audioFiles">
            {{ audio.name }}
            <button type="button" (click)="deleteAudio(audio.id)">Delete</button>
          </li>
        </ul>
      </form>
      <div class="row">
        <div class="col-xs-12">
          <h3>Audio Files</h3>
          <form [formGroup]="audioForm" (ngSubmit)="onSubmitAudio()">
            <div class="form-group">
              <label for="audioName">Audio Name</label>
              <input type="text" id="audioName" formControlName="audioName" class="form-control">
            </div>
            <div class="form-group">
              <label for="audioFile">Upload Audio</label>
              <input type="file" id="audioFile" (change)="onAudioFileSelected($event)" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="audioForm?.invalid">Add Audio</button>
          </form>
          <app-audio-list [mapLocation]="mapLocation"></app-audio-list>
        </div>
      </div>
    </div>
  </div>
</div>
