input, textarea{
  border-color: #046169;
}

.my-map-wrapper {
  height:40vh;
}

.audio-list {
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
  .my-map-wrapper {
    height: 16vh;
  }

  .audio-list {
    margin-top: 10px;
  }


  .audio-item audio {
    margin-right: 10px;
  }

  .audio-item p {
    margin: 0 10px;
  }

  .audio-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

}
.audio-header {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #321;

}

.file-input-wrapper {
  display: flex;
  align-items: center;
}

.file-input-wrapper input[type="file"] {
  margin-right: 10px;
}

.file-input-wrapper button {
  white-space: nowrap;
}

