.mobile-collapse-btn {
  color: white;
  margin-right: 20px;
  font-size: 1.25rem;
}

.active-link {
  font-weight: bold;
}

.logout-link {
  cursor: pointer;
}

.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #046169;
  /* border-bottom: 1px solid azure;*/
  overflow: auto;
  align-items: center;
  justify-items: center;
}

.nav-item {
  margin: 0 30px;
  width: 12rem;
  align-self: center;
  height: 100%;
}


.nav-header {
  font-size: 1rem;
  text-align: center;
  align-self: center;
  margin: 0 10px;
  padding: 0.5rem;
  font-weight: 600;
}


.mobile-nav-item {
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  align-items: stretch;
  background-color: rgba(16, 137, 141, 0.3);
}


.nav-item a,
.mobile-nav-item a,
.nav-header a {

  text-decoration: none;
  color: azure;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-header a {
  background: linear-gradient(to right, #89ecda, #89ecda 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  font-weight: 900;
}

.nav-item a:hover,
.mobile-nav-item a:hover {
  color: #10898d;
}

.nav-header a:hover {
  background-position: 0 100%;
}

@keyframes stripes {
  to {
    background-size: 100% 100%;
  }
}

.nav-item:hover {
  background-color: azure;;
  font-weight: 600;
}


.active-link {
  font-weight: bold;
  background-color: #10898d;
}


.icon {
  margin-right: 30px;
  text-align: center;
  color: white;
  align-self: center;
  font-size: 2.5rem;
}

.background-cover {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 93%;
  top:7%;
  z-index: 10
}

.menu-collapsed {
  animation: dropDown 0.5s ease;
  position: absolute;
  background-color: white;
  top: 7%;
  width: 100%;
  height: 93%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes dropDown {
  from {
    height: 0;
  }
  to {
    height: 93%;
  }
}


.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 7%;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}


h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* prev header (dont delete!!!)
.collapsed {
  position: absolute;
  left: 8svw;
  z-index: 200;
  background-color: white;
  width: 92svw;
}

.not-collapsed {
  position: absolute;
  left: 2svw;
  z-index: 200;
  width: 98svw;
  background-color: white;

}
*/
