.collapsed {
  position: absolute;
  left: 8svw;
  z-index: 200;
  background-color: white;
  width: 92svw;
}

.not-collapsed {
  position: absolute;
  left: 2svw;
  z-index: 200;
  width: 98svw;
  background-color: white;

}

