<div class="nav-container">

  <div (click)="collapsed = true" class="nav-header">
    <a routerLink="/">WayToGo </a>
  </div>

  <div style="flex-grow: 1"></div>

  <label *ngIf="mobileVersion" for="check">
    <input type="checkbox" id="check" (change)="collapsed = !collapsed"/>
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ng-template #repeatableContent>
    <div [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" routerLinkActive="active-link"
    >
      <a routerLink="routes/list">Routes</a>
    </div>

    <div *ngIf="isLoggedIn" [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" routerLinkActive="active-link"
   >
      <a routerLink="users/1/routes">Your Routes</a>
    </div>


    <div *ngIf="!isLoggedIn" [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" routerLinkActive="active-link"
     >
      <a routerLink="log-in">Login</a>
    </div>


    <div *ngIf="isLoggedIn" [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="active-link" >
      <a routerLink="users/1">User profile </a>
    </div>


    <div *ngIf="!isLoggedIn" [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="active-link" >
      <a routerLink="register">Register </a>
    </div>


    <div *ngIf="isLoggedIn" [ngClass]="mobileVersion ? 'mobile-nav-item' : 'nav-item'" [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="active-link" >
      <a (click)="logout()" class="logout-link">Logout</a>
    </div>
  </ng-template>

  <ng-container *ngIf="!mobileVersion;">
    <ng-container *ngTemplateOutlet="repeatableContent"></ng-container>
  </ng-container>





</div>

<div (click)="collapsed = !collapsed"
     *ngIf="!collapsed && mobileVersion"
     style="position: absolute; background-color: white; top: 7%; width: 100%; height: 93%; z-index: 9999;">
  <div style=" height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around">
    <ng-container *ngTemplateOutlet="repeatableContent"></ng-container>
  </div>
</div>

<!-- prev header (dont delete!!!)
<nav class="navbar navbar-default" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3, 4]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">WayToGo </a>

    </div>

    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"
         [ngClass]="{ 'not-collapsed': !collapsed, 'collapsed': collapsed }">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="routes/list">Routes</a></li>
        <li routerLinkActive="active"><a  routerLink="users/1/routes">Your Routes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"  appDropdown>
          <a  class="dropdown-toggle" role="button">Settings<span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a> Option 1 </a> </li>
            <li><a> Option 2 </a> </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="log-in">Log in / Log out</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="users/1">User profile </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="register">Register </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="logout">Logout </a></li>
      </ul>
    </div>

  </div>
</nav>-->



