
.active-link {
  font-weight: bold;
}
.logout-link {
  cursor: pointer;
}

.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

.nav-item {
  text-align: center;
  flex-grow: 1;
  align-self: center;
  margin: 0 10px;
  background-color: #e0e0e0;
  border: #c2c2c2 2px solid;
  padding: 0.8rem;
}

.mobile-nav-item {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e0e0e0;
  border: #c2c2c2 2px solid;
  color: black;
  font-weight: bold;
}

.nav-header {
  background-color: #b3b1b1;
}


.nav-item a,
.mobile-nav-item a {
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}

.nav-item a:hover {
  color: #000;
}

.active-link {
  font-weight: bold;
}

/* prev header (dont delete!!!)
.collapsed {
  position: absolute;
  left: 8svw;
  z-index: 200;
  background-color: white;
  width: 92svw;
}

.not-collapsed {
  position: absolute;
  left: 2svw;
  z-index: 200;
  width: 98svw;
  background-color: white;

}
*/
