<ul class="list-group" style="padding: 5px">
  <div *ngFor="let mapLocation of mapLocations" style="margin-bottom: 5px">

    <li (click)="onMapLocationSelected(mapLocation)"
        [ngClass]="{'active' : activeMapLocationId == mapLocation.id}"
        class="list-group-item"
        style="cursor: pointer; display: flex; justify-content: center; align-items: center;">

      <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
      <p style="flex-grow: 1; margin-left: 20px"></p>
      {{mapLocation.name}}
      <p style="flex-grow: 1;"></p>
      <button class="btn btn-success" (click)="onAddToYourRoute(mapLocation.id)">Add to your route
      </button>
      <button *ngIf="userMode" class="btn btn-primary" (click)="onMapLocationEdit(mapLocation.id)">
        edit
      </button>
      <button *ngIf="userMode" class="btn btn-danger" (click)="onMapLocationDelete(mapLocation.id)">
        delete
      </button>
    </li>

    <li *ngIf="addingPointToRoute && pointIdToBeAdded == mapLocation.id"
        class="list-group-item"
        style="background-color: #c6c7d2;">
      <app-route-list
        [addingPointToRoute]=true
        [pointIdToBeAdded]="pointIdToBeAdded"
      ></app-route-list>
    </li>


  </div>
</ul>
