<ul class="list-group" style="padding: 5px">

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Loading map locations, please wait...</p>
  </div>

  <div *ngIf="isError" class="error-indicator">
    <p>Error loading map locations. Please try again later.</p>
  </div>

  <div *ngFor="let mapLocation of mapLocations" style="margin-bottom: 5px">

    <li (click)="onMapLocationSelected(mapLocation)"
        [ngClass]="{'active' : activeMapLocationId == mapLocation.id}"
        class="list-group-item"
        style="cursor: pointer; display: flex; justify-content: center; align-items: center;">

      <i class="fa fa-map-marker"></i>
      <span> &nbsp; point: </span>
      <p style="flex-grow: 1; margin-left: 20px"></p>
      {{mapLocation.name}}
      <p style="flex-grow: 1;"></p>
    </li>

    <li *ngIf="activeMapLocationId == mapLocation.id"
        class="list-group-item"
        style="cursor: pointer; display: flex; justify-content: center; align-items: center; gap: 20px;
flex-wrap: wrap; background-color: #bdf2e9">

      <button (click)="onAddToYourRoute(mapLocation)" class="icon-button">
        <i class="fa fa-plus"></i>
        <p>Add to your route</p>
      </button>
      <button (click)="onMapLocationDetails(mapLocation)" class="icon-button">
        <i class="fa fa-info-circle"></i>
        <p>details</p>
      </button>
      <button (click)="onMapLocationEdit(mapLocation.id)" *ngIf="userMode" class="icon-button">
        <i class="fa fa-pencil"></i>
        <p>edit</p>
      </button>
      <button (click)="onMapLocationDelete(mapLocation.id)" *ngIf="userMode" class="icon-button">
        <i class="fa fa-trash"> </i>
        <p>delete</p>
      </button>

    </li>
  </div>
</ul>
