.map-wrapper {
  flex: 1 1 auto;
  min-width: 50%;
  height: 100%;
  position: relative
}

.arrow {
  border: solid azure;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.panel-stripe {
  min-width: 20px; background-color: azure; border-right:  #046169 3px solid
}

.arrow-right {
  transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
}

.panel-button {
  position: absolute;
  top: 100px;
  z-index: 3;
  height: 50px;
  background-color: #10898d;
  border: #046169 3px solid;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-panel-btn {
  left: -3px;
}

.left-panel-btn {
  left: -3px;
}

.side-panel-visible {
  width: 20%;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow: hidden;
}


.side-panel-hidden {
  width: 0;
  transition: width 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 900px) {
  .map-wrapper {
    min-width: 20%;
  }
}
