<button style="width: 100%;" class="btn" (click)="goBack()">
    go back
</button>
<div *ngIf="route" class="row well well-sm" style="margin:10px; height: 85%">
  <div class="col-md-offset-3 col-md-6">
    <img *ngIf="routeImage" [src]="routeImage" class="img-rounded" style="object-fit: contain; width: 100%; height: 100%;" />
    <img *ngIf="!routeImage" class="img-rounded" style="object-fit: contain; width: 100%; height: 100%;" src="https://beckers.pl/sites/default/files/styles/scale_crop_extra_large_800_800/public/color_resources/%23B1B1AF.png?itok=tP2DjoTr" />
  </div>

  <div class="col-md-12 info-card" style="margin-top:10px; height: 50%">
      <div class="card">
        <div class="card-body">
          <div style="text-align: center">
            <h5 class="card-title">{{ route.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{routeId}} </h6>
          </div >
          <div style=" overflow: auto; max-height: 70%">
            <p class="card-text">{{route.description}}</p>
            <p class="card-text">number of mapLocations: {{mapLocationsNo}}</p>
          </div>
        </div>
      </div>
  </div>
</div>


