h5 {
  font-weight: 800;
  color: #10898d;
}

.user-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center
}

.user-container > span {
  font-size: 2rem;
  margin-right: 7px;
  margin-bottom: 5px;
  color: #046169;
}
