.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

.modal-content {
  background: white;
  width: 80%;
  height: 80%;
  position: relative;
  border-radius: 10px;
}

.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  margin-right: 20px;
}
