.panel-container{
  position: absolute;
  top:10%;
  background-color: white;
  margin-left: 2vw;
  width: 30vw;
}

.panel-content {
  padding: 10px;
  height: 85vh;
}

.panel-button {
  position: absolute;
  top: 100px;
  z-index: 9999;
  height: 50px;
  background-color: white;
}

.right-panel-btn {
  left:30vw;
  width: 50px;
}

.left-panel-btn {
  left: 10px;
  width: 100px;
}


@media only screen and (max-width: 1024px) {
  .panel-container{
    width: 60vw;
  }
  .right-panel-btn {
    left:60vw;
  }

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
}
