<div class="panel-container">
  <button class="panel-button"
          [ngClass]="{ 'left-panel-btn': !toggleSidePanel, 'right-panel-btn': toggleSidePanel }"
          (click)="onToggleSidePanel()">

    <strong> {{panelButtonContent}} </strong>
    <i class="arrow" [ngClass]="{ 'arrow-right': !toggleSidePanel, 'arrow-left': toggleSidePanel }"></i>
    <i class="arrow" [ngClass]="{ 'arrow-right': !toggleSidePanel, 'arrow-left': toggleSidePanel }"></i>
  </button>
  <div *ngIf="toggleSidePanel" class="panel-content">
    <ng-content></ng-content>
  </div>
</div>


