<div class="panel panel-default wrapper background-animation" style="color: azure; background-color: #046169">
  <div class="panel-body">
    <div class="flex-container" >
      <div *ngIf="route" class="flex-item">{{route.name}}</div>

      <div style="display: flex">
        <button class="btn route-button"
                [routerLink]="['/routes', routeId]">
          <span class="glyphicon glyphicon-info-sign"></span>
        </button>

        <button class="btn route-button"
                [routerLink]="['/routes', routeId, 'edit']">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>



    </div>

  </div>
</div>
