.flex-item {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}


.route-button {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #10898d;
  margin-left: 10px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-animation {
  animation: background-change 1s infinite;
  animation-duration: 1s;
}

@keyframes background-change {
  0% {
    background-color: #10898d;

  }
  50% {
    background-color: #046169;

  }
  100% {
    background-color: #10898d;

  }
}


@media (max-width: 900px) {
  * {
    font-size: 1rem;
  }

  .route-button {
    height: 20px;
    width: 20px;
  }
}
