<div class="row">
  <div class="col-md-12 map-wrapper" >
    <app-map></app-map>
  </div>
  <app-side-panel>

    <button style="width: 100%; margin-bottom: 10px;" class="btn btn-success" (click)="onAddNewRoute()">Add new route</button>


    <div class="d-flex justify-content-center" style=" max-height: 55vh;" >
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="!toggleRouteDetails" style=" height: 55vh; overflow: auto">
      <app-route-list ></app-route-list>
    </div>

  </app-side-panel>
</div>
