<div style="display: flex; width: 100%; height: 100%">
  <div *ngIf="toggleSidePanel" class="side-panel" style=" flex: 1 1 auto; min-width: 20px ">


    <div style="height: 100%;">
      <router-outlet></router-outlet>
    </div>


  </div>
  <div class=" map-wrapper">
    <app-map></app-map>
    <button (click)="onToggleSidePanel()"
            [ngClass]="{ 'left-panel-btn': !toggleSidePanel, 'right-panel-btn': toggleSidePanel }"
            class="panel-button">
      <strong> {{panelButtonContent}} </strong>
      <i [ngClass]="{ 'arrow-right': !toggleSidePanel, 'arrow-left': toggleSidePanel }" class="arrow"></i>
      <i [ngClass]="{ 'arrow-right': !toggleSidePanel, 'arrow-left': toggleSidePanel }" class="arrow"></i>
    </button>
  </div>
</div>
