<google-map
  height="80vh"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="onMapClick($event)"
  (mapMousemove)="onMapMousemove($event)">

  <map-marker
    #marker="mapMarker"
    *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    (mapClick)="onMarkerClick(marker)"
    [options]="markerOptions">
  </map-marker>

  <map-info-window>
    <div style="max-height: 7vh; max-width: 7vw; min-height: 100px; min-width: 100px;">
      <div >
        {{infoWindowText}}
      </div>
      <div style="height: 7vh; width: 7vw">
        <img src="https://images.photowall.com/products/47316/route-66-on-the-road-again.jpg?h=699&q=85"
             style="max-width: 100%; max-height: 100%;">
      </div>
    </div>
  </map-info-window>

</google-map>
<hr>
<div>Latitude: {{cursorLatLng?.lat}}</div>
<div>Longitude: {{cursorLatLng?.lng}}</div>

