<google-map
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="onMapClick($event)"
  (mapMousemove)="onMapMousemove($event)">

  <map-marker
    #marker="mapMarker"
    *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    (mapClick)="onMarkerClick(marker)"
    [options]="markerOptions">
  </map-marker>

  <map-info-window>
    <div style="max-height: 7vw; max-width: 7vw; min-height: 175px; min-width:175px;">
      <img src="https://wallpaperswide.com/download/pure_nature_2-wallpaper-1280x1280.jpg" style="max-width: 100%;">
    </div>
    <div style="max-height: 7vw; max-width: 7vw; min-height: 175px; min-width:175px;">
      <div class="info-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{infoWindowMapLocationId}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> {{infoWindowMapLocationName}}</h6>
            <button class="btn-primary"> MP3 </button>
            <hr>
            <p class="card-text">{{infoWindowMapLocationDescription}}</p>
          </div>

        </div>
      </div>
    </div>
  </map-info-window>

</google-map>


<div style="margin-bottom: 10px; text-align: center;"> Lat: {{cursorLatLng?.lat}}, Long: {{cursorLatLng?.lng}}</div>
