<div style="height: 100%; display: flex; gap: 10px;  flex-direction: column; justify-content: space-between; padding: 1%">

  <div style="display: flex; justify-content: space-around; align-items: center; gap: 5PX">
    <button style="background-color: #10898d; color: white"
      (click)="onAddNewRoute()" class="btn ">
      <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
      new route
    </button>
    <div style="display: flex; flex-grow: 1">
      <input
        type="text"
        [(ngModel)]="routeNameToSearch"
        class="input-sm"
        style="flex: 1 1;">

      <button class="btn filter-btn" (click)="onClearFilters()">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <button style="background-color: #10898d; color: white"
      class="btn" (click)="onGetRoutesByName()">
      <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
      search
    </button>

  </div>


  <div style="flex-grow: 1">
    <div>
      <router-outlet></router-outlet>
    </div>
    <ul class="list-group">
      <li *ngFor="let routeIt of routes"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="!addingPointToRoute ? [ routeIt.id] : null"
          [queryParams]="{ page: currentPageNumber }"
          class="list-group-item"
          routerLinkActive="active"
          (click)="onRouteSelected(routeIt)"
          #rla="routerLinkActive">
        <app-route-item [route]="routeIt">
        </app-route-item>
        <div *ngIf="rla.isActive">
          <button  [@tada]="animationState" class="btn route-button"
                  (click)="navigateToRoute(routeIt)">
            <span  class="glyphicon glyphicon-info-sign"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="flex-container" >
    <div class="flex-item">
      <button (click)="onPrevPage()" aria-label="Left Align" class="btn btn-default page-button" type="button">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="flex-item page-nr">
      <span [innerHTML]="showCurrentPageNumber()" class="text-info btn"></span>
    </div>
    <div class="flex-item">
      <button
        (click)="onNextPage()" aria-label="Left Align" class="btn btn-default page-button" type="button">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>

