<router-outlet></router-outlet>
<div style=" height: 60vh; overflow: scroll">
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let routeIt of routes"
        style="cursor: pointer;"
        [routerLink]="[routeIt.id]"
        (click)="onRouteClick(routeIt)"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <app-route-item [route]="routeIt" > </app-route-item>
    </li>
  </ul>
</div>

<div class="col-xs-12 text-center">
  <div class="col-xs-6">
    <button class="btn btn-default" (click)="onPrevPage()"><<</button>
  </div>
  <div  class="col-xs-6">
    <button class="btn btn-default" (click)="onNextPage()">>></button>
  </div>
  <div class="col-xs-12">
    <span class="text-info btn" [innerHTML]="showCurrentPageNumber()"></span>
  </div>
</div>
