
.list-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 1rem
}

.list-group-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7dvh;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-item {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  text-align: center;
}

.page-button{
  background-color: #10898d;
  color: azure;
  border: 2px solid #046169
}

.page-nr {
  background-color: #10898d;
  border: 2px solid #046169
}

.page-nr span {
  color:azure
}


.list-group-item.active {
  background-color: #10898d;
  color: azure;
}

.list-group-item:focus {
  outline: none;
  background-color: #10898d;
  color: azure;
}

.route-button {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #10898d;
  margin-left: 10px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  * {
    font-size: 1rem;
  }

  .route-button span {
    font-size: 1.5rem;
  }

  .list-group-item {
    height: 6dvh;
  }

  .route-button {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 320px) {
  .flex-item:nth-child(2) {
    order: 3;
  }
  .flex-item:nth-child(3) {
    order: 2;
  }

  .route-button {
    height: 20px;
    width: 20px;
  }
}


