<div style="display: flex; flex-direction: column; height: 90%; ">
  <div style="flex: 1 1 auto">
    <router-outlet></router-outlet>
  </div>


  <div class="list-wrapper" style="flex-grow: 1; width: 100%">
    <ul class="list-group" >
      <li class="list-group-item"
          *ngFor="let routeIt of routes"
          style="cursor: pointer; height: 6dvh"
          [routerLink]="[routeIt.id]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <app-route-item [route]="routeIt" > </app-route-item>
      </li>
    </ul>
  </div>

  <div class="flex-container" >
    <div class="flex-item">
      <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onPrevPage()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
    </div>
    <div class="flex-item">
      <span class="text-info btn" [innerHTML]="showCurrentPageNumber()"></span>
    </div>
    <div class="flex-item">
      <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onNextPage()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>

</div>


