
.list-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 1rem;
}

.list-group-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7dvh;
  cursor: pointer;
  border: grey 1px solid;
}

.list-group-item.active {
  background-color: #10898d;
  color: azure;
  border: #046169 2px solid;
}

.list-group-item:focus {
  outline: none;
  background-color: #10898d;
  color: azure;
}

.filter-btn {
  background-color: #10898d;
  color: white;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-item {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  text-align: center;
}

.page-button {
  background-color: #10898d;
  color: azure;
  border: 2px solid #046169
}


.route-button {
  padding: 10px;
  background-color: white;
  color: #10898d;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #046169 2px solid;
  border-radius: 8px;
}



.searchbar-button > i {
  margin-right: 10px;
}

.mobile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.desktop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}






